#header {
    position: fixed;
    width: 100%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px 20px 20px;
    height: 70px;
    background-color: $primary-color;
    font-size: 1.4rem;
    color : #ffff;
    .left-top-nav {
        display: flex;
        align-items: center;
        .vertical-menu-btn {
            background-color: unset;
            border: none;
        }
        .vertical-menu-btn svg {
            color : #ffff;
        }
        img {
            height: 100%;
            width: 70px;
            margin: 0 10px;
            cursor: pointer;
        }
        span {
            color : #ffff;
        }
        .logo a {
            text-decoration: none;
        }
    }
    .right-top-nav {
        align-items: center;
        cursor: pointer;
        position: relative;
        .avatar {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
        .username {
            font-size: 1.1rem;
        }
        &::after {
            content: '';
            border-top: 8px solid #ffff;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            margin-left: 10px;
        }
        .menu-profile {
            position: absolute;
            width: 200px;
            bottom: -70px;
            left: -10px;
            border-radius: 4px;
            // text-decoration: none;
            background-color: red;
            font-size: 1.1rem;
            list-style: none;
            display: none;
            padding: 4px 6px;
            align-items: center;
            span {
                margin-left: 5px;
            }
        }
    }
}